@font-face {
  font-family: Satoshi;
  src: url('../fonts/Satoshi-Variable.ttf') format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Satoshi Italic;
  src: url('../fonts/Satoshi-VariableItalic.ttf') format("truetype");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --black: #1e1e1e;
  --white: white;
  --grey: #747474;
  --light-blue: #c1d0d8;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: var(--black);
  background-color: #0000;
  font-family: Satoshi, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 150%;
}

h1 {
  letter-spacing: -3px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 10vw;
  font-weight: 700;
  line-height: 100%;
}

h2 {
  color: var(--black);
  letter-spacing: -3px;
  text-transform: uppercase;
  margin-top: -5px;
  margin-bottom: 10px;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 110%;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  max-width: 100%;
  display: inline-block;
}

.nav-menu-two {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.navbar-logo-left {
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-logo-left-container {
  z-index: 5;
  background-color: #0000;
  border-bottom: 1px solid #ffffff40;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #1a1b1fbf;
}

.nav-link:focus-visible, .nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.container {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.container.flex {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-images-wrapper {
  border-radius: 8rem;
  align-items: stretch;
  height: 85vh;
  min-height: 85vh;
  max-height: 85vh;
  margin-bottom: 40px;
  margin-left: auto;
  position: relative;
  overflow: hidden;
}

.hero-image-background {
  background-image: url('../images/hero-bg-sky_1hero-bg-sky.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.page-title {
  z-index: 2;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  mix-blend-mode: overlay;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-flex;
  position: absolute;
  inset: 5vw 0% auto;
}

.hero-image-foreground {
  z-index: 3;
  background-image: url('../images/airport.webp');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  inset: 0%;
}

.grey-text {
  color: var(--grey);
}

.grey-text.bottom-margin-60px {
  margin-bottom: 60px;
}

.about-block {
  grid-column-gap: 10vw;
  grid-row-gap: 10vw;
  justify-content: flex-start;
  align-items: center;
  max-width: 50%;
  position: relative;
}

.stat {
  color: #1e1e1e;
  margin-bottom: 5px;
  font-size: 2.5rem;
  line-height: 100%;
}

.section {
  padding-top: 250px;
  padding-left: 40px;
  padding-right: 40px;
}

.section.bottom-padding-200px {
  padding-bottom: 200px;
}

.section.black-bg {
  background-color: var(--black);
  padding-bottom: 250px;
}

.section.black-bg.hide {
  display: none;
}

.section.top-padding-0px {
  padding-top: 0;
}

.section.top-100px {
  padding-top: 100px;
}

.floating-image-wrapper {
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 85vw;
  max-height: 85vh;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.floating-image-wrapper.contact-section {
  max-width: 45vw;
  max-height: none;
}

.floating-image {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  position: relative;
  overflow: clip;
}

.image-overlay {
  background-color: #fff;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.image-overlay.reverse-direction {
  left: 0;
  right: auto;
}

.div-block {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 50%;
  margin-left: auto;
  display: flex;
}

.logos-wrapper {
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center start;
}

.service-content-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  color: #1e1e1e;
  grid-template-rows: auto;
  grid-template-columns: 20px 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  max-width: 50%;
}

.number {
  color: var(--grey);
  margin-top: 2px;
  font-weight: 400;
}

.services-list {
  grid-row-gap: 0px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: flex;
  position: relative;
}

.separator-line {
  background-color: #e8e8e8;
  width: 100%;
  height: 1px;
  margin-left: 0;
  margin-right: auto;
}

.service-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-content-box {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #ffffffd9;
  border-radius: 1rem;
  min-width: 500px;
  max-width: 20vw;
  padding: 30px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  position: absolute;
  inset: 50% 0% auto auto;
  transform: translate(0, -50%);
  box-shadow: 2px 2px 15px #0003;
}

.project-content-box.left-aligned {
  left: 0;
  right: auto;
}

.project-label {
  color: var(--grey);
  font-size: .875rem;
}

.project-thumbnail {
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
  position: relative;
}

.project-thumbnail.right-aligned {
  align-items: flex-end;
}

.flex-block-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-description {
  margin-top: 60px;
  margin-bottom: 60px;
}

.testimonial-text {
  color: #c1d0d8;
  text-align: center;
  margin-bottom: 80px;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 150%;
}

.slider {
  background-color: #ddd0;
  max-width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero-section {
  padding-left: 40px;
  padding-right: 40px;
}

._2x1-grid {
  grid-template-rows: auto;
  align-items: stretch;
}

.about-blocks-wrapper {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  display: flex;
}

.bottom-margin-medium {
  margin-bottom: 40px;
}

.bottom-margin-small {
  margin-bottom: 10px;
}

.accordion-item-wrapper {
  background-color: #ffffff1a;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.accordion-trigger {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  color: var(--black);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 2px;
  line-height: 140%;
  text-decoration: none;
  display: flex;
  position: relative;
}

.expand-icon {
  transition: color .3s;
  display: flex;
}

.accordion-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 0;
  padding-right: 0;
  transition: opacity .2s;
  overflow: hidden;
}

.accordion-content.first {
  height: auto;
}

.accordion-content-text {
  padding-top: 10px;
}

.service-bullet-point {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  color: var(--grey);
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.div-block-71 {
  flex-flow: column;
  justify-content: space-between;
  display: flex;
}

.bullet-indicator {
  background-color: var(--grey);
  border-radius: 100%;
  width: 4px;
  min-width: 4px;
  max-width: 4px;
  height: 4px;
  min-height: 4px;
  max-height: 4px;
}

.accordion-grid-wrapper {
  grid-template-rows: auto;
  align-items: stretch;
  padding-top: 20px;
}

.animated-grid-image {
  width: 300px;
  height: 100%;
}

.single-service-grid {
  grid-template-rows: auto;
  grid-template-columns: 20px 1fr;
  padding-top: 20px;
}

.stats-block {
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
  justify-content: flex-start;
  align-items: center;
  max-width: 50%;
  position: relative;
}

.uppercase-small-heading {
  letter-spacing: 0;
  margin-bottom: 40px;
  font-size: .875rem;
}

.uppercase-small-heading.bottom-margin-small {
  margin-bottom: 10px;
}

.uppercase-large-heading {
  color: var(--black);
  margin-bottom: 40px;
  font-size: 10vw;
  font-weight: 700;
}

.uppercase-large-heading.hidden {
  display: none;
}

.div-block-72 {
  z-index: -1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: sticky;
  top: 30vh;
}

.inner-images-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  place-items: center;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.center-image {
  width: 100%;
}

.top-left-image {
  z-index: 5;
  width: 100%;
  position: relative;
  top: 15px;
  left: 30px;
}

.top-right-image {
  width: 100%;
  max-width: 100%;
  position: relative;
  left: -30px;
}

.bottom-left-image {
  width: 100%;
  position: relative;
  left: 0;
}

.bottom-right-image {
  width: 100%;
  position: relative;
  top: 100px;
  left: 0;
}

.large-title {
  font-size: 14.5vw;
  line-height: 100%;
}

.animated-overlay-blocks {
  z-index: 4;
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.left-overlay-block {
  background-color: var(--white);
  width: 50%;
  transform: translate(-100%);
}

.right-overlay-block {
  background-color: var(--white);
  width: 50%;
  transform: translate(100%);
}

.project-thumbnails-wrapper {
  grid-column-gap: 200px;
  grid-row-gap: 200px;
  flex-flow: column;
  display: flex;
}

.images-wrapper {
  min-height: 100vh;
}

.slide-nav {
  display: none;
}

.center-aligned-heading {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.left-arrow {
  background-color: var(--light-blue);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  display: flex;
  inset: auto 0 0% -100px;
}

.image {
  margin-right: 0;
  display: inline-flex;
}

.right-arrow {
  background-color: var(--light-blue);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  display: flex;
  inset: auto -100px 0% 0;
}

.flex-block-3 {
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
}

.div-block-75 {
  align-self: center;
}

.white-text {
  color: #fff;
}

.form-field-wrapper {
  margin-bottom: 10px;
}

.bottom-margin-20px {
  margin-bottom: 20px;
}

.form-label {
  color: var(--grey);
  text-align: left;
  margin-bottom: 5px;
  font-size: .9rem;
  font-weight: 500;
}

.form-block {
  max-width: 40vw;
}

.floating-image-wrapper-2 {
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 65vw;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.form-field {
  color: #848484;
  background-color: #f7f7f7;
  border: 1px #000;
}

.contact-us-block {
  grid-column-gap: 10vw;
  grid-row-gap: 10vw;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
  position: relative;
}

.primary-button {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #1e1e1e;
  border-width: 1px;
  border-color: #fff;
  width: 100%;
  padding: 8px 30px;
  font-size: .75rem;
  font-weight: 500;
  transition: color .2s, background-color .2s;
}

.primary-button:hover {
  background-color: var(--light-blue);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: #1e1e1e;
}

.footer-link {
  color: var(--grey);
  text-transform: none;
  margin-bottom: 5px;
  font-size: .875rem;
  transition: color .3s cubic-bezier(.785, .135, .15, .86);
  display: none;
}

.footer-link:hover {
  color: var(--black);
}

.newsletter-form-wrapper {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-grid-top {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  justify-items: stretch;
  margin-bottom: 40px;
  padding-right: 0;
  display: none;
}

.footer-grid-bottom {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  margin-bottom: 20px;
  display: grid;
}

.dark-footer-link {
  color: var(--grey);
  text-transform: none;
  margin-bottom: 5px;
  font-size: .875rem;
  transition: color .3s cubic-bezier(.785, .135, .15, .86);
  display: block;
}

.dark-footer-link:hover {
  color: var(--black);
}

.dark-footer-links-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  display: flex;
}

.form-label-2 {
  color: #777;
  text-align: left;
  margin-bottom: 5px;
  font-size: .9rem;
}

.form-block-3 {
  max-width: 40vw;
  padding-top: 250px;
}

.footer-section {
  margin-top: -100px;
  padding-top: 0;
  padding-left: 40px;
  padding-right: 40px;
}

.styleguide-element-wrapper-2 {
  margin-top: 40px;
}

.secondary-button {
  background-color: var(--light-blue);
  color: var(--black);
  text-transform: uppercase;
  padding: 8px 30px;
  font-size: .75rem;
  text-decoration: none;
  transition: color .2s, background-color .2s;
}

.secondary-button:hover {
  background-color: var(--black);
  color: var(--white);
}

.secondary-button:focus-visible, .secondary-button[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.label {
  border: 1px #000;
  border-top: 1px solid #98a4a4;
  margin-top: 20px;
  padding-top: 5px;
  font-size: 12px;
}

.color-wrapper {
  width: 100%;
  height: 100%;
}

.white {
  background-color: var(--white);
  border: 1px solid #f1f1f1;
  min-height: 60px;
}

.color-palette-grid-2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: stretch stretch;
  width: 100%;
}

.black {
  background-color: var(--black);
  min-height: 60px;
}

.bottom-margin-150px {
  margin-bottom: 150px;
}

.styleguide-block {
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: block;
}

.project-rich-text {
  margin-bottom: 40px;
}

.buttons-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center stretch;
}

.primary-button-2 {
  color: #fff;
  text-transform: uppercase;
  background-color: #1e1e1e;
  border-radius: 5px;
  padding: 6px 30px 5px;
  text-decoration: none;
}

.primary-button-2:focus-visible, .primary-button-2[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.light-blue {
  background-color: var(--light-blue);
  min-height: 60px;
}

.help-page-h2 {
  letter-spacing: -2px;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 4vw;
}

.grey {
  background-color: var(--grey);
  min-height: 60px;
}

.link-text {
  color: var(--black);
  font-weight: 500;
}

.bottom-margin-100px {
  margin-bottom: 100px;
}

.bottom-margin-60px {
  margin-bottom: 60px;
}

.changelog-wrapper {
  width: 100%;
}

.changelog-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.table-header {
  border-style: none none solid;
  border-width: 1px;
  border-top-color: #000;
  border-bottom-color: #9a846a;
  border-left-color: #000;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-content-item {
  border: 1px #000;
  border-bottom: 1px solid #ebe1d2;
  min-height: 40px;
}

.gallery-image {
  width: 100%;
}

.gallery-image.portrait {
  aspect-ratio: 2 / 3;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 85vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 500px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.footer {
  padding-top: 0;
  padding-left: 40px;
  padding-right: 40px;
}

.page-popups-wrapper {
  z-index: 1000;
  padding-bottom: 10px;
  padding-right: 10px;
  position: fixed;
  inset: auto 0% 0% auto;
}

.buy-template-popup {
  color: var(--white);
  background-color: #0055d4;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding: 7px 10px;
  font-size: .9rem;
  transition: color .3s, background-color .3s;
  display: flex;
}

.buy-template-popup:hover {
  background-color: var(--light-blue);
  color: var(--black);
}

.all-templates-popup {
  color: var(--white);
  background-color: #292929;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;
  font-size: .9rem;
  transition: color .3s, background-color .3s;
  display: flex;
}

.all-templates-popup:hover {
  background-color: var(--light-blue);
  color: var(--black);
}

.container-hero {
  background-color: #565d73;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.div-cloud-1 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: visible;
}

.foggy-inf {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
  padding-bottom: 20vh;
  position: static;
  inset: 45% 0% 0%;
  overflow: visible;
}

.wrapper-clouds-parallax {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 50%;
  overflow: visible;
  transform: translate(-50%);
}

.scroll-down-icon {
  width: 25px;
  height: 25px;
}

.div-cloud-6 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: visible;
}

.div-arrow {
  z-index: 999;
  border: 1px solid #fff;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
}

.section-footer {
  background-color: #415c86;
  background-image: linear-gradient(#415c86, #fff);
  justify-content: center;
  height: 300vh;
  display: flex;
}

.cloud-move {
  background-image: url('../images/Fog1.png');
  background-size: 33.33%;
  width: 300vw;
  height: 40vh;
  position: fixed;
  inset: auto 0% 0%;
}

.navigation-link {
  color: var(--white);
  text-align: center;
  letter-spacing: 1vw;
  text-indent: 0;
  text-transform: uppercase;
  text-shadow: 0 1px .4rem #5d637d;
  border: 1px #000;
  border-bottom: 1px solid #ffffff40;
  width: 180px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all .2s cubic-bezier(.455, .03, .515, .955);
}

.navigation-link:hover, .navigation-link.w--current {
  color: #fff;
}

.parallax-overlay {
  background-image: linear-gradient(#0a090500 70%, #ad85a1);
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  inset: 0%;
  overflow: visible;
}

.div-foggy-sup {
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: visible;
}

.cloud-navbar {
  opacity: 1;
  background-color: #0000;
  position: fixed;
  inset: 1vh 0% auto;
}

.div-cloud-4 {
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.clouds {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.clouds.z3 {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.clouds.z4 {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.clouds.z2, .clouds.z5 {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.clouds.z1 {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0);
}

.div-cloud-5 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: visible;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.div-cloud-2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: visible;
}

.nav-logo {
  text-align: center;
  margin: 16px;
  padding: 0;
}

.hero-heading {
  font-family: Exo, sans-serif;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-heading.footer {
  top: 275%;
}

.section-hero {
  overflow: hidden;
}

.foggy-sup {
  object-fit: contain;
  object-position: 50% 100%;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 5%;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.div-cloud-3 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: visible;
}

.wrapper-arrow {
  z-index: 999;
  justify-content: center;
  display: flex;
  position: relative;
  top: 55vh;
}

.container-navbar {
  justify-content: center;
  display: flex;
}

.div-foggy-inf {
  z-index: 500;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 55vh;
  overflow: visible;
}

.section-content {
  background-color: #415c86;
  background-image: linear-gradient(#51688d, #fff);
  background-position: 0 0;
  height: 150vh;
  overflow: hidden;
}

.image-2 {
  opacity: .52;
  filter: invert();
  mix-blend-mode: overlay;
}

.paragraph {
  font-size: 2.1rem;
  line-height: 1.5;
}

.footer-legal-text {
  color: var(--grey);
  text-transform: none;
  margin-bottom: 5px;
  font-size: .875rem;
  transition: color .3s cubic-bezier(.785, .135, .15, .86);
  display: block;
}

.footer-legal-text:hover {
  color: var(--black);
}

.hidden {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-menu-two {
    background-color: var(--white);
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 20px 20px 15px;
    display: flex;
    box-shadow: 0 8px 50px #0000000d;
  }

  .navbar-logo-left {
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu-button {
    background-color: #c8c8c800;
    padding: 12px;
  }

  .menu-button.w--open {
    color: var(--black);
    background-color: #c8c8c800;
  }

  .nav-menu-wrapper {
    background-color: #0000;
  }

  .hero-image-background {
    background-attachment: scroll;
  }

  .page-title {
    padding-left: 20px;
    padding-right: 20px;
    top: 10vw;
  }

  .hero-image-foreground {
    background-attachment: scroll;
  }

  .section {
    padding-top: 150px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
  }

  .floating-image-wrapper {
    max-width: none;
    max-height: none;
  }

  .floating-image-wrapper.contact-section {
    max-width: none;
  }

  .div-block {
    justify-content: flex-start;
    align-items: flex-end;
    max-width: none;
  }

  .logos-wrapper {
    grid-column-gap: 10vw;
    grid-row-gap: 10vw;
  }

  .separator-line {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .service-wrapper {
    max-width: none;
  }

  .project-content-box {
    box-shadow: none;
    min-width: auto;
    max-width: none;
    padding: 0;
    position: static;
    transform: translate(0);
  }

  .flex-block-2 {
    margin-top: 0;
  }

  .project-description {
    margin-bottom: 0;
  }

  .hero-section {
    padding-left: 15px;
    padding-right: 15px;
  }

  ._2x1-grid {
    grid-template-columns: 1fr;
  }

  .stats-block {
    grid-column-gap: 10vw;
    grid-row-gap: 10vw;
    max-width: none;
  }

  .inner-images-wrapper {
    max-width: none;
  }

  .large-title {
    font-size: 15.5vw;
  }

  .project-thumbnails-wrapper {
    grid-column-gap: 100px;
    grid-row-gap: 100px;
  }

  .contact-us-block {
    flex-flow: column;
  }

  .footer-grid-top {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
    padding-right: 0;
  }

  .form-block-3 {
    max-width: none;
    padding-top: 0;
  }

  .footer-section {
    margin-top: 0;
    padding-top: 150px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
  }

  .styleguide-block {
    text-align: left;
  }

  .project-rich-text {
    max-width: none;
  }

  .help-page-h2 {
    font-size: 3rem;
  }

  .bottom-margin-100px {
    margin-bottom: 75px;
  }

  .footer {
    margin-top: 0;
    padding-top: 150px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
  }

  .section-footer {
    height: 400vh;
  }

  .cloud-move {
    background-position: 50% 0;
    height: 20vh;
  }

  .menu-button-2 {
    background-color: #0000;
    padding: 10px;
  }

  .menu-button-2.w--open {
    color: #fff;
    background-color: #0000;
    padding: 10px;
  }

  .navigation-link {
    margin-left: auto;
    margin-right: auto;
  }

  .nav-menu {
    background-color: #0000;
    flex-flow: column;
    align-self: auto;
  }

  .hero-heading.footer {
    top: 257%;
  }

  .section-content {
    height: 120vh;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    letter-spacing: -2px;
    font-size: 3rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .nav-menu-two {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .nav-link {
    display: inline-block;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .hero-images-wrapper {
    height: 50vh;
    min-height: 50vh;
    max-height: 50vh;
  }

  .about-block {
    flex-flow: column;
    max-width: none;
  }

  .about-blocks-wrapper {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .service-bullet-point {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .stats-block {
    justify-content: space-between;
  }

  .div-block-72 {
    position: static;
  }

  .large-title {
    font-size: 15vw;
  }

  .images-wrapper {
    min-height: auto;
  }

  .contact-us-block {
    flex-flow: column;
  }

  .footer-grid-top {
    margin-bottom: 80px;
  }

  .secondary-button {
    flex: 1;
  }

  .color-palette-grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .buttons-grid {
    grid-template-columns: 1fr 1fr;
    place-items: start;
  }

  .help-page-h2 {
    font-size: 2.5rem;
  }

  .bottom-margin-100px {
    margin-bottom: 50px;
  }

  .section-footer {
    background-image: linear-gradient(#fff, #415c86);
    height: 475vh;
  }

  .hero-heading.footer {
    top: 380%;
  }

  .section-content {
    background-color: #fff;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    letter-spacing: -2px;
    font-size: 14vw;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .navbar-logo-left {
    padding-left: 0;
    padding-right: 0;
  }

  .menu-button {
    padding: 0;
  }

  .container {
    max-width: none;
  }

  .navbar-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero-images-wrapper {
    border-radius: 8rem;
  }

  .page-title {
    padding-left: 10px;
    padding-right: 10px;
    top: 10vh;
  }

  .stat {
    font-size: 2rem;
  }

  .service-content-wrapper {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    max-width: none;
    display: flex;
  }

  .services-list {
    align-items: flex-start;
    display: block;
  }

  .testimonial-text {
    font-size: 1rem;
  }

  .hero-section {
    padding-left: 12px;
    padding-right: 12px;
  }

  .accordion-item-wrapper {
    align-items: flex-start;
  }

  .accordion-trigger {
    padding-bottom: 5px;
  }

  .open-close-box {
    right: 5%;
  }

  .accordion-content {
    padding-left: 0;
    padding-right: 0;
  }

  .accordion-grid-wrapper {
    grid-template-columns: 1fr;
  }

  .single-service-grid {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr;
    padding-top: 0;
  }

  .inner-images-wrapper {
    position: relative;
  }

  .center-image {
    width: 50vw;
    position: static;
  }

  .top-left-image {
    width: 35vw;
    position: absolute;
    inset: 20px auto auto 0%;
  }

  .top-right-image {
    width: 35vw;
    position: absolute;
    inset: 0% 0% auto auto;
  }

  .bottom-left-image {
    width: 30vw;
    position: absolute;
    inset: auto auto -20px 0%;
  }

  .bottom-right-image {
    width: 40vw;
    position: absolute;
    inset: auto 0% -40px auto;
  }

  .large-title {
    font-size: 16.5vw;
  }

  .primary-button {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-grid-top {
    grid-row-gap: 60px;
    grid-template-columns: 1fr 1fr;
  }

  .footer-grid-bottom {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    grid-template-columns: 1fr;
  }

  .dark-footer-links-wrapper {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: space-between;
  }

  .secondary-button {
    padding-left: 10px;
    padding-right: 10px;
  }

  .buttons-grid {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .primary-button-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .bottom-margin-100px {
    margin-bottom: 40px;
  }

  .utility-page-content {
    width: 300px;
  }

  .buy-template-popup, .all-templates-popup {
    font-size: .9rem;
  }

  .section-footer {
    height: 475vh;
  }

  .hero-heading {
    width: 240px;
  }

  .hero-heading.footer {
    top: 335%;
  }

  .wrapper-arrow {
    z-index: 3;
  }

  .paragraph {
    text-align: center;
  }
}

#w-node-_5bbbe3a8-d436-46a3-da1b-5c148fe98b26-a37dd701 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_427b26cd-8a7b-6c2f-81f3-f0b362a500ee-a37dd701, #w-node-b46db727-f2de-96bd-e3d3-aad2bd561235-a37dd701 {
  grid-area: 1 / 2 / 3 / 3;
}

#w-node-_0cce4e86-0623-dc1b-6c2d-796bb3cd57c6-a37dd701 {
  justify-self: end;
}

#w-node-ba06bae5-fbf4-3045-1e07-23a9d42eda7a-a37dd703, #w-node-ba06bae5-fbf4-3045-1e07-23a9d42eda7b-a37dd703, #w-node-ba06bae5-fbf4-3045-1e07-23a9d42eda80-a37dd703, #w-node-ba06bae5-fbf4-3045-1e07-23a9d42eda81-a37dd703, #w-node-ba06bae5-fbf4-3045-1e07-23a9d42eda86-a37dd703, #w-node-ba06bae5-fbf4-3045-1e07-23a9d42eda87-a37dd703, #w-node-ba06bae5-fbf4-3045-1e07-23a9d42eda8c-a37dd703, #w-node-ba06bae5-fbf4-3045-1e07-23a9d42eda8d-a37dd703, #w-node-ba06bae5-fbf4-3045-1e07-23a9d42eda97-a37dd703, #w-node-ba06bae5-fbf4-3045-1e07-23a9d42edaa2-a37dd703 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_6b0c63c9-3272-2fab-d2e1-e6bc7e63dfa0-7e63df98 {
  justify-self: end;
}

#w-node-_3477c818-e27a-a80b-5fa5-54fc71259bf0-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259bf1-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259bf3-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259bf4-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259bf6-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259bf7-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259bf9-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259bfa-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259bfc-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259bfd-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259bff-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c00-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c02-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c03-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c04-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c05-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c06-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c07-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c08-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c09-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c0a-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c0b-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c0c-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c0d-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c0e-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c0f-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c10-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c11-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c12-a37dd705, #w-node-_3477c818-e27a-a80b-5fa5-54fc71259c13-a37dd705 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 479px) {
  #w-node-_5bbbe3a8-d436-46a3-da1b-5c148fe98b26-a37dd701 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi Italic';
  src: url('../fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}